<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/design.png">
    <title>BAA LOGISTICA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @if (Session["BAALOG"] == null)
    {
        @RenderBody()
    }
    else
    {
        @Html.Partial("_Menu")
        <div id="bodyDiv">
            @RenderBody()
        </div>
    }
    @RenderSection("scripts", required: false)
</body>
</html>