@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebApplication1.Models.Caminhao>

<div class="main-content container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="row">
            <a href="@Url.Action("Cadastro", "Caminhao")" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Novo Caminhão
            </a>
        </div>
    </div>

    @if (Model != null && Model.Count > 0)
    {
        <div class="table-responsive shadow rounded">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Modelo</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.Codigo">
                            <td>@item.Codigo</td>
                            <td>@item.Placa</td>
                            <td>@item.Modelo</td>
                            <td class="text-center">
                                <div class="col-md-4">
                                    <a class="btn btn-sm btn-primary me-1">
                                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" height="15" width="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m19 20.25c0-.402-.356-.75-.75-.75-2.561 0-11.939 0-14.5 0-.394 0-.75.348-.75.75s.356.75.75.75h14.5c.394 0 .75-.348.75-.75zm-7.403-3.398 9.124-9.125c.171-.171.279-.423.279-.684 0-.229-.083-.466-.28-.662l-3.115-3.104c-.185-.185-.429-.277-.672-.277s-.486.092-.672.277l-9.143 9.103c-.569 1.763-1.555 4.823-1.626 5.081-.02.075-.029.15-.029.224 0 .461.349.848.765.848.511 0 .991-.189 5.369-1.681zm-3.27-3.342 2.137 2.137-3.168 1.046zm.955-1.166 7.651-7.616 2.335 2.327-7.637 7.638z" fill-rule="nonzero" /></svg>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href='@Url.Action("Excluir", "Caminhao", new { id = item.Codigo })'
                                       class="btn btn-sm btn-danger"
                                       onclick="return confirm('Deseja realmente excluir este Registro de Caminhão?');">
                                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" height="15" width="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m20.015 6.506h-16v14.423c0 .591.448 1.071 1 1.071h14c.552 0 1-.48 1-1.071 0-3.905 0-14.423 0-14.423zm-5.75 2.494c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-4.5 0c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-.75-5v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-16.507c-.413 0-.747-.335-.747-.747s.334-.747.747-.747zm4.5 0v-.5h-3v.5z" fill-rule="nonzero" /></svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info mt-3 text-center shadow-sm" role="alert">
            Nenhum Caminhão cadastrado.
        </div>
    }
</div>

<script>
    $(function () {
        $(document).on('click', 'tbody tr', function () {
            var id = $(this).data('id');
            if (id) {
                window.location.href = '/Caminhao/Cadastro/' + id;
            }
        });
    });
</script>
