@model WebApplication1.Models.Login
@{
    Layout = null;
}
<div class="login-container">
    <div class="login-overlay">
        <div class="login-box">
            <h2>Entrar</h2>

            @using (Html.BeginForm("ValidaLogin", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.Usuario)
                    @Html.EditorFor(m => m.Usuario, new { htmlAttributes = new { placeholder = "Digite seu Email" } })
                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Senha)
                    @Html.EditorFor(m => m.Senha, new { htmlAttributes = new { placeholder = "Digite sua Senha" } })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                </div>

                <button class="btn" type="submit">Login</button>
            }
        </div>
    </div>
</div>
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/Login.css" />
